/**
 * Shades of Purple Theme — for Highlightjs.
 *
 * @author (c) Ahmad Awais <https://twitter.com/mrahmadawais/>
 * @link GitHub Repo → https://github.com/ahmadawais/Shades-of-Purple-HighlightJS
 * @version 1.5.0
 */

.hljs {
	display: block;
	overflow-x: auto;
	/* Custom font is optional */
	/* font-family: 'Operator Mono', 'Fira Code', 'Menlo', 'Monaco', 'Courier New', 'monospace';  */
	line-height: 1.45;
	padding: 2rem;
	background: #2d2b57;
	font-weight: normal;
}

.hljs .hljs-title {
	color: #fad000;
	font-weight: normal;
}

.hljs .hljs-name {
	color: #a1feff;
}

.hljs .hljs-tag {
	color: #ffffff;
}

.hljs .hljs-attr {
	color: #f8d000;
	font-style: italic;
}

.hljs .hljs-built_in,
.hljs .hljs-selector-tag,
.hljs .hljs-section {
	color: #fb9e00;
}

.hljs .hljs-keyword {
	color: #fb9e00;
}

.hljs,
.hljs .hljs-subst,
.hljs span {
	color: #e3dfff;
}

.hljs .hljs-string,
.hljs .hljs-attribute,
.hljs .hljs-symbol,
.hljs .hljs-bullet,
.hljs .hljs-addition,
.hljs .hljs-code,
.hljs .hljs-regexp,
.hljs .hljs-selector-class,
.hljs .hljs-selector-attr,
.hljs .hljs-selector-pseudo,
.hljs .hljs-template-tag,
.hljs .hljs-quote,
.hljs .hljs-deletion {
	color: #4cd213;
}

.hljs .hljs-meta,
.hljs .hljs-meta-string {
	color: #fb9e00;
}

.hljs .hljs-comment {
	color: #ac65ff;
}

.hljs .hljs-keyword,
.hljs .hljs-selector-tag,
.hljs .hljs-literal,
.hljs .hljs-name,
.hljs .hljs-strong {
	font-weight: normal;
}

.hljs .hljs-literal,
.hljs .hljs-number {
	color: #fa658d;
}

.hljs .hljs-emphasis {
	font-style: italic;
}

.hljs .hljs-strong {
	font-weight: bold;
}
